html,body{
	height:100%
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
	vertical-align:baseline
}
.mod_list_city a{
	color:#325E7F
}
.mod_list_city a:link,.mod_list_city a:visited{
	text-decoration:none
}
.mod_list_city a:hover,.mod_list_city a:active{
	text-decoration:underline
}
.mod_list_city{
	margin:0;
	padding:0;
	font-family:Microsoft YaHei,Verdana,arial0;
	font-size:0.35rem;
	padding:0.2rem 0.5rem 0.2rem 0.2rem;
	position:absolute;
	width:11rem;
	background-color:#FFFFFF;
	border:0.0125rem solid #9E9E9E;
	display:none;
	z-index:400;
}
.mod_list_city .city_top{

	height:0;
}

.mod_list_city .city_top p{
	margin-left: 0;
	display:block;	
	width:100%;
	float: left;
}
.mod_list_city .city_top p a{	
	text-align: center;
	width: 3.7%;
	font-size: 0.4rem;
	float: left;
	margin-left: 0;
	margin-right:0.04rem;
	padding:0.025rem
}
.mod_list_city a{
	color:#325E7F;
	margin-right:0.0375rem;
	padding:0.05rem
}

.mod_list_city .hot{
	margin-top: 0.3rem;
	height:0.4rem;
	line-height:0.4rem;
	margin-bottom:0.2rem;
}
.mod_list_city .hot a{
	font-size: 0.4rem;
	margin-left:0.19rem;
}
.mod_list_city .hot strong{
	display:inline-block; 
	width:2rem;
}
.mod_list_city .list_wrap h4{
	margin-top: 0.2rem;
	font-size:0.35rem;
	height:0.4rem;
	line-height:0.4rem;
	margin-bottom:0.2rem;
}
.mod_list_city .list_wrap{		/*可以改高度和导航条位置*/
	height:13rem;
	overflow:auto;
	width:11.5rem
}
.mod_list_city .list_wrap .city_cont{  /*可以改文字空间*/
	height:5rem;
	margin-top: 0.1rem;
	width:11rem;
	margin-left:0.2rem;
}
.mod_list_city .list_wrap .mod_city_list a{		/*改正文字体大小*/
	padding:0.2rem;
	display:inline-block;
	font-size:0.4rem;
	border:2px solid #f4f4f4;
	margin:0.1rem;
}
.mod_list_city .list_wrap .mod_city_list .col1{/*全部城市左侧*/
	width:0.5rem;
	font-size:0.15rem
}
.mod_list_city .list_wrap .mod_city_list .col2{/*全部城市右侧*/
	width:11rem;
	font-size:0.15rem
}
.mod_list_city .list_wrap .mod_city_list th{
	text-align:left;
}
.mod_list_city .list_wrap .mod_city_list th span{
	background-color:#DDDDDD;
	font-weight:normal;
	padding:0 0.0375rem;
	display:inline-block;
	width:0.3rem;
	text-align:center
}
